.idea/gotur-app.iml
.idea/modules.xml
.idea/vcs.xml
backend/GOtur/src/main/resources/application.properties
backend/GOtur/src/main/resources/application.properties
hs_err_pid18228.log
backend/GOtur/src/main/resources/application.properties
